@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/alliance/Alliance-No-1-Regular.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: "Alliance No.1";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/alliance/Alliance-No-1-Italic.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 450;
  src: url("/fonts/alliance/Alliance-No-1-Medium.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/alliance/Alliance-No-1-SemiBold.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/alliance/Alliance-No-1-Bold.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/alliance/Alliance-No-1-ExtraBold.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-code-v22-latin-regular.woff2') format('woff2');
}
