body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background-color: #fafafa;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Sans SC', "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-feature-settings: "ss02" on, "ss01" on;
}

a,
a:visited {
  text-decoration: none;
  transition: opacity .1s ease;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 0.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  color: inherit;
}

.nolink {
  text-decoration: none;
  background-image: none;
}

.wrapper {
  box-sizing: border-box;
  clear: both;
}

.front {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subline {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.3rem;
  padding-left: 0;
  color: #8e8985;
}

.subline li {
  display: inline;
  margin-right: 0.6rem;
  white-space: nowrap;
}

.tags {
  font-weight: 500;
  color: #8e8985;
  margin-bottom: 0.3rem;
}

.note-hash {
  vertical-align: middle;
  font-size: .8em;
  font-weight: lighter;
  padding-bottom: 3.8px;
}

strong {
  color: #ac4142;
}

.pagination,
.text-mono {
  font-family: "Fira Code", "Lucida Console", Monaco, monospace;
}

/* header and footer areas */
.menu {
  padding: 0;
  font-weight: normal;
}

.menu li {
  display: inline-block;
}

.menu a {
  padding: 5px;
}

.menu,
footer {
  text-align: center;
  color: #afaaa5;
}

footer {
  clear: both;
}

hr {
  border-style: solid;
  color: #e1dfdc;
}

/* code */
pre {
  padding: 1em;
  overflow-x: auto;
  border-left: 3.8px solid #e1dfdc;
  margin-left: 0px;
  padding-left: 0;
}

/* highlightjs */
pre code.hljs {
  background: none;
  font-size: 14px;
  line-height: 20px;
  font-family: "Fira Code", "Lucida Console", Monaco, monospace;
  white-space: pre-wrap;
}

:not(pre)>code {
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "ss02" on, "ss01" on;
  font-weight: 500;
  padding: 0 4px;
}

/* basic blockquote style */
/* blockquote {
  background: none;
  border-left: 3.8px solid #e1dfdc;
  margin-left: 0px;
  padding: 3px 1em 3px;
} */

blockquote {
  border-left: 0;
  position: relative;
  text-align: left;
  padding: 1rem 1.2rem;
  /* create space for the quotes */
  width: 90%;
  margin: 0 auto 0;
  background:
    linear-gradient(to right, #ededeb 4px, transparent 4px) 0 100%,
    /* linear-gradient(to left, #ededeb 4px, transparent 4px) 100% 0, */
    /* linear-gradient(to bottom, #ededeb 4px, transparent 4px) 100% 0, */
    linear-gradient(to top, #ededeb 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  color: #afaaa5;
  font-size: 48px;
  top: -12px;
  margin-right: -18px;
  right: 100%;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

cite {
  font-weight: lighter;
  font-size: 14px;
  font-style: italic;
}

cite:before {
  content: '\2015' ' ';
}

/* misc elements */
img,
iframe,
video {
  max-width: 100%;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}

.vmiddle {
  vertical-align: middle;
}

.footnote-ref {
  font-size: large;
  vertical-align: top;
}

/* paginator */
.pagination {
  display: flex;
  justify-content: center;
  padding: 1px;
  list-style-type: none;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 15px;
  color: #8e8985;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-image: none;
}

.page-item.disabled .page-link,
.page-item.disabled .page-link:hover {
  cursor: not-allowed;
  color: #c8c3be;
}

.page-item.active .page-link {
  color: #e1dfdc;
}

.page-link:hover {
  color: #e1dfdc;
}