{{ with .Page }}
<div class="wrapper">
  <section class="front" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
    <article>
      {{ if eq .Section "posts" }}
      <header>
        <h1>
          <a class="nolink" href="{{ .RelPermalink }}" itemprop="url">
            <span class="vmiddle" style="color: #54433a;" itemprop="name headline mainEntityOfPage">{{ .Title | markdownify}}</span>
            <svg class="vmiddle" class="with-icon_icon__MHUeb" data-testid="geist-icon" fill="none" height="24"
              shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="1.5" viewBox="0 0 24 24" width="24"
              style="color:var(--geist-foreground);width:24px;height:24px">
              <path d="M4 9h16" />
              <path d="M4 15h16" />
              <path d="M10 3L8 21" />
              <path d="M16 3l-2 18" />
            </svg>
          </a>
        </h1>
        <ul class="subline">
          <li>
            <time itemprop="datePublished dateModified" datetime={{ .Date.Format "2006/01/02" }}>
              {{ .Date.Format "2006/01/02" }}
            </time>
          </li>
          <li itemprop="wordCount">
            {{ len (split .Content " ") }} words
          </li>
          <li>
            {{ .ReadingTime }} minute{{ if (ne .ReadingTime 1) }}s{{ end }} to read
          </li>
        </ul>
        {{ partial "tags.html" . }}
      </header>
      {{ end }}
      {{ if eq .Section "notes" }}
      <header>
        <h2>
          <span class="vmiddle" style="color: #54433a;" itemprop="name headline mainEntityOfPage">{{ .Title | markdownify}}</span>
        </h2>
        <ul class="subline" style="display: none;">
          <li>
            <time itemprop="datePublished dateModified" datetime={{ .Date.Format "2006/01/02" }}>
              {{ .Date.Format "2006/01/02" }}
            </time>
          </li>
        </ul>
      </header>
      {{ end }}

      {{ if not $.IsList }}
      {{ partial "featured_image.html" . }}
      {{ end }}

      <div class="main" itemprop="articleBody">
        <div class="{{ .Section }}">
          {{ partial "content.html" .Content }}
        </div>
      </div>

      {{ if eq .Section "notes" }}

      {{ partial "tags.html" . }}

      <div>
        <svg class="vmiddle" class="with-icon_icon__MHUeb" data-testid="geist-icon" fill="none" height="24"
          shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="1.5" viewBox="0 0 24 24" width="24"
          style="color:var(--geist-foreground);width:24px;height:24px">
          <path d="M4 9h16" />
          <path d="M4 15h16" />
          <path d="M10 3L8 21" />
          <path d="M16 3l-2 18" />
        </svg>
        <a class="note-hash" href="{{ .RelPermalink }}" itemprop="url">
          <span class="vmiddle"> — {{ .Date.Format "2 January 2006, 3:04 pm" }}</span>
        </a>
      </div>
      {{end}}

    </article>
  </section>
</div>
{{end }}
