<table class="header">
  <tr>
    <td colspan="2" rowspan="2" class="width-auto">
      <h1>
        <a class="nolink" href="{{ .RelPermalink }}" itemprop="url">
          <span itemprop="name headline mainEntityOfPage">
            {{ .Title | markdownify}}
          </span>
        </a>
      </h1>
    </td>
    <th>Updated</th>
    <td class="width-min">
      <time itemprop="datePublished dateModified" style="white-space: pre;">
        {{ .Date.Format "2006/01/02" }}
      </time>
    </td>
  </tr>
  <tr>
    <th>Words</th>
    <td itemprop="wordCount" class="width-min">
      {{ len (split .Content " ") }}
    </td>
  </tr>
  <tr>
    <th class="width-min">Tags</th>
    <td class="width-auto">
      {{ partial "tags.html" . }}
    </td>
    <th class="width-min">Read</th>
    <td>{{ .ReadingTime }} minute{{ if (ne .ReadingTime 1) }}s{{ end }}</td>
  </tr>
</table>
