<table class="projects-table">
  <thead>
    <tr>
      <th class="width-auto">Project</th>
      <th class="width-auto">Description</th>
      <th class="width-min">Tags</th>
    </tr>
  </thead>
  <tbody>
    {{ range sort .Pages "Params.weight" }}
    <tr{{ if .Params.repo }} class="project-clickable" onclick="window.location.href='{{ .Params.repo }}'"{{ end }}>
      <td class="project-name">
        {{ if .Params.repo }}
        <a href="{{ .Params.repo }}" target="_blank" rel="noopener">{{ .Title }}</a>
        {{ else }}
        {{ .Title }}
        {{ end }}
      </td>
      <td class="project-description">{{ .Description }}</td>
      <td class="project-tags">
        {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}{{ $tag }}{{ end }}{{ if .Params.contributor }}{{ if .Params.tags }}, {{ end }}contributor{{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>